Marketplace/src/conf/xml-resources/web-services/Pricing/wsdl/109.231.124.57_8080/ws/Pricing.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://realmarket.com/ws/pricing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://realmarket.com/ws/pricing" name="PricingService">
<types>
<xsd:schema>
<xsd:import namespace="http://realmarket.com/ws/pricing" schemaLocation="http://109.231.124.57:8080/ws/Pricing?xsd=1" />
</xsd:schema>
</types>
<message name="Update">
<part name="parameters" element="tns:Update" />
</message>
<message name="UpdateResponse">
<part name="parameters" element="tns:UpdateResponse" />
</message>
<message name="QueryByVersion">
<part name="parameters" element="tns:QueryByVersion" />
</message>
<message name="QueryByVersionResponse">
<part name="parameters" element="tns:QueryByVersionResponse" />
</message>
<message name="Create">
<part name="parameters" element="tns:Create" />
</message>
<message name="CreateResponse">
<part name="parameters" element="tns:CreateResponse" />
</message>
<message name="QueryAllVersion">
<part name="parameters" element="tns:QueryAllVersion" />
</message>
<message name="QueryAllVersionResponse">
<part name="parameters" element="tns:QueryAllVersionResponse" />
</message>
<portType name="Pricing">
<operation name="Update">
<input wsam:Action="http://realmarket.com/ws/pricing/Pricing/UpdateRequest" message="tns:Update" />
<output wsam:Action="http://realmarket.com/ws/pricing/Pricing/UpdateResponse" message="tns:UpdateResponse" />
</operation>
<operation name="QueryByVersion">
<input wsam:Action="http://realmarket.com/ws/pricing/Pricing/QueryByVersionRequest" message="tns:QueryByVersion" />
<output wsam:Action="http://realmarket.com/ws/pricing/Pricing/QueryByVersionResponse" message="tns:QueryByVersionResponse" />
</operation>
<operation name="Create">
<input wsam:Action="http://realmarket.com/ws/pricing/Pricing/CreateRequest" message="tns:Create" />
<output wsam:Action="http://realmarket.com/ws/pricing/Pricing/CreateResponse" message="tns:CreateResponse" />
</operation>
<operation name="QueryAllVersion">
<input wsam:Action="http://realmarket.com/ws/pricing/Pricing/QueryAllVersionRequest" message="tns:QueryAllVersion" />
<output wsam:Action="http://realmarket.com/ws/pricing/Pricing/QueryAllVersionResponse" message="tns:QueryAllVersionResponse" />
</operation>
</portType>
<binding name="PricingPortBinding" type="tns:Pricing">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Update">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="QueryByVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Create">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="QueryAllVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PricingService">
<port name="PricingPort" binding="tns:PricingPortBinding">
<soap:address location="http://109.231.124.57:8080/ws/Pricing" />
</port>
</service>
</definitions>